@use "../../asset/css/breakpoints" as *;

.skill {
    --color: 0 0% 0%;

    position: relative;
    display: flex;
    height: 120px;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    background: rgb(var(--gray-2));
    border: 2px solid rgb(var(--gray-3) / .75);
    border-radius: calc(var(--radius) * 2);
    text-align: center;

    strong {
        color: var(--foreground-prominent);
        font-size: 16px;
        font-weight: 500;
    }
}

.skillIcon {
    margin: 0 0 6px;
    color: hsl(var(--color));
    font-size: 30px !important;
}

.skills {
    position: relative;
    display: grid;
    gap: 9px;
    grid-template-columns: repeat(5, 1fr);
}

@include breakpoint-down(lg) {
    .skills {
        grid-template-columns: repeat(4, 1fr);
    }
}

@include breakpoint-down(md) {
    .skills {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include breakpoint-down(sm) {
    .skills {
        grid-template-columns: repeat(4, 1fr);
    }
}

@include breakpoint-down(xs) {
    .skills {
        grid-template-columns: repeat(2, 1fr);
    }
}
