.timeline {
    position: relative;
    display: flex;
    flex-flow: column;
}

.timelineItem {
    position: relative;
    display: flex;
    gap: 24px;
    align-items: stretch;
    justify-content: flex-start;
}

.timelineItemDate {
    display: block;
    margin-bottom: 9px;
    color: rgb(var(--primary-7));
    font-size: 15px;
}

.timelineItemLine {
    margin-top: -3px;
    margin-left: -15px;
    flex-shrink: 0;

    line {
        stroke: rgb(var(--primary-2));
    }

    circle:first-of-type {
        stroke: rgb(var(--primary-2));
        transition: stroke 300ms var(--swift-out);
        will-change: stroke;
    }

    circle:last-of-type {
        fill: rgb(var(--primary-7));
    }
}

.timelineItem:first-child .timelineItemLine line {
    translate: 0 21px;
}

.timelineItem:last-child .timelineItemLine line {
    translate: 0 calc(-100% + 21px);
}

.timelineItemContent {
    position: relative;
    padding: 24px 0;

    h3 {
        font-size: 18px;
    }

    p {
        color: var(--foreground-secondary);
    }

    p:last-child {
        margin-bottom: 0;
    }
}
