@use "../../asset/css/breakpoints" as *;

.workCard {
    display: flex;
    flex-flow: column;
}

.workCardVisual {
    height: auto;
    aspect-ratio: 12 / 7;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
}

.workCardVisualBlank {
    composes: workCardVisual;

    background: rgb(var(--gray-3));
}

.workCardVisualImage {
    composes: workCardVisual;

    max-width: 100%;
}

.workCardVisualMount {
    position: relative;
    border-radius: 4% / 7%;
    overflow: hidden;

    &::after {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: "";
        border-radius: inherit;
        box-shadow: inset 0 0 0 1px rgb(var(--gray-4) / .25);
    }
}

.workCardBody {
    display: flex;
    padding: 18px 6px;
    flex-flow: column;
    flex-grow: 1;
}

.workCardComingSoon {
    position: absolute;
    top: -3px;
    right: -30px;
    padding: 15px 30px 3px;
    background: rgb(var(--primary-7));
    color: rgb(var(--primary-0));
    font-size: 10px;
    font-weight: 700;
    pointer-events: none;
    text-transform: uppercase;
    transform: rotate(45deg);
    user-select: none;
}

.workCardTitle {
    font-size: 17px;
}

.workCardExcerpt {
    margin-bottom: auto;
    font-size: 16px;
}

.workCardLink {
    margin-top: 15px;
}

.workDeck {
    --columns: 3;
    --gap: 30px;

    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--columns), 1fr);
}

.workGrid {
    composes: baseRow from '../shell/Row.module.scss';

    --columns: 3;
    --gap: 30px;

    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--columns), 1fr);
}

.workGridMore {
    composes: workGrid;

    --columns: 4;
}

.workGridTitle {
    grid-column: 1 / span var(--columns);
}

@include breakpoint-down(md) {
    .workDeck {
        --columns: 2;
    }

    .workGrid {
        --columns: 2;
    }
}

@include breakpoint-down(xs) {
    .workDeck {
        --columns: 1;
    }

    .workGrid {
        --columns: 1;
    }
}
