@use "../../asset/css/breakpoints" as *;

.footer {
    composes: container from 'Container.module.scss';

    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
    color: var(--foreground-secondary);
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

@include breakpoint-down(md) {
    .footer {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
