@use "../../css/api" as *;

.footer {
    composes: container from "./Container.module.scss";

    position: relative;
    margin-top: #{gutter-get(10)};
    margin-bottom: #{gutter-get(10)};
    color: #{color-get("gray", 400)};
    font-size: 15px;
    text-align: center;
}

@include responsive-down(md) {
    .footer {
        margin-top: #{gutter-get(7)};
        margin-bottom: #{gutter-get(7)};
    }
}
