@use "../../css/api" as *;

.header {
    position: relative;
    display: flex;
    height: 420px;
    align-items: center;
    background: linear-gradient(to bottom right, #{color-get("gray", 800)}, #{color-get("gray", 900)});
    user-select: none;
}

.canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.headerContainer {
    composes: container from "./Container.module.scss";

    position: relative;
    display: flex;
    padding-top: 240px;
    align-items: center;
    height: inherit;
}

.headerFrontPage {
    height: max(540px, 60vh);

    .headerContainer {
        padding-top: 54px;
    }
}

.header h1 {
    flex-grow: 1;
    color: #{color-get("gray", 0)};
    font-size: 72px;
    line-height: 1;
}

.headerFrontPage h1 {
    text-align: center;
}

.icons {
    --iconGap: #{gutter-get(5)};
    --iconSize: 150px;
    --iconSizeImage: 99px;

    position: absolute;
    display: grid;
    top: 100%;
    right: 0;
    gap: var(--iconGap);
    grid-template-columns: repeat(2, 1fr);
    transform: translate3d(0, -78%, 0);
    z-index: 1;
}

.icon {
    position: relative;
    display: flex;
    height: var(--iconSize);
    width: var(--iconSize);
    align-items: center;
    justify-content: center;
    background: #{color-get("gray", 0)};
    border-radius: #{$radius * 2};
    box-shadow: var(--shadow-3);
    color: #{color-get("gray", 700)};
    font-size: calc(var(--iconSize) * .4);

    img {
        height: var(--iconSizeImage);
        width: var(--iconSizeImage);
    }
}

@include responsive-down(lg) {
    .header h1 {
        font-size: 60px;
    }

    .icons {
        --iconSize: 120px;
        --iconSizeImage: 84px;
    }
}

@include responsive-down(md) {
    .header {
        margin-bottom: #{gutter-get(7)};
    }

    .headerFrontPage,
    .headerDefault {
        height: 360px;
    }

    .header h1 {
        font-size: 60px;
    }

    .header .headerContainer {
        padding-top: 180px;
    }

    .headerDefault.headerHasIcons {
        margin-bottom: #{gutter-get(10)};
    }

    .icons {
        --iconSize: 90px;
        --iconSizeImage: 54px;
    }
}

@include responsive-down(sm) {
    .header h1 {
        font-size: 42px;
        text-align: center;
    }

    .headerDefault.headerHasIcons {
        margin-bottom: #{gutter-get(10)};
    }

    .icons {
        --iconSize: 66px;
        --iconSizeImage: 48px;

        left: 50%;
        right: unset;
        grid-template-columns: repeat(4, 1fr);
        transform: translate3d(-50%, -50%, 0);
    }
}
