@use "../../../css/api" as *;

.weatherIconSection {
    --iconColumns: 7;
    --iconSize: 90px;
    --sectionGutter: #{gutter-get(11)};
    --switcherGutter: #{gutter-get(2)};
    --switcherSize: 48px;
    --switcherSizeImage: 36px;

    display: flex;
    margin-top: var(--sectionGutter);
    margin-bottom: var(--sectionGutter);
    flex-flow: column;
    z-index: 0;
}

.weatherIconSectionHeader {
    composes: container from "../../../component/shell/Container.module.scss";

    position: sticky;
    display: flex;
    top: 99px;
    margin-top: #{gutter-get(5)};
    padding-top: #{gutter-get(4) + 1px};
    padding-bottom: #{gutter-get(4) + 1px};
    align-items: center;
    justify-content: space-between;
    background: rgb(254 254 255 / 0);
    border-bottom: 1px solid #{color-get("gray", 100, 0)};
    overflow: hidden;
    transition: opacity 300ms var(--swiftOut);
    z-index: 1;

    h3 {
        margin: 0;
    }
}

.weatherIconSectionContainer {
    composes: container from "../../../component/shell/Container.module.scss";
}

.weatherIconSectionHeaderSticky,
.weatherIconSectionHeaderStickyAfter {
    background: rgb(254 254 255 / .85);
    backdrop-filter: blur(6px) saturate(180%);
    border-bottom-color: #{color-get("gray", 100, .5)};
}

.weatherIconSectionHeaderStickyAfter {
    opacity: 0;
}

.weatherIconSectionStyleSwitcher {
    display: flex;
    align-items: center;
    gap: var(--switcherGutter);
}

.weatherIconSectionStyleSwitcherItem {
    display: flex;
    height: var(--switcherSize);
    width: var(--switcherSize);
    align-items: center;
    flex: 0 0 var(--switcherSize);
    justify-content: center;
    background: white;
    border: 0;
    border-radius: #{$radius * 1.5};
    box-shadow: 0 0 0 1px #{color-get("gray", 200, .5)};
    outline: 0;
    overflow: hidden;
    transition: all 180ms var(--swiftOut);
    transition-property: background, box-shadow;

    &:hover {
        background: #{color-get("gray", 100, .5)};
    }

    img {
        height: var(--switcherSizeImage);
        width: var(--switcherSizeImage);
    }
}

.weatherIconSectionStyleSwitcherItemActive {
    box-shadow: 0 0 0 2px #{color-get("primary")};
}

.weatherIconGroup {
    position: relative;
    display: grid;
    grid-gap: #{gutter-get(4)};
    grid-template-columns: repeat(var(--iconColumns), 1fr);

    + .weatherIconGroup {
        margin-top: #{gutter-get(7)};
    }
}

.weatherIcon {
    position: relative;
    display: block;
    padding-bottom: calc(100% - 4px);
    background: white;
    border: 1px solid #{color-get("gray", 100)};
    border-radius: #{$radius * 2};
}

.weatherIconImage {
    position: absolute;
    display: block;
    top: calc(50% - var(--iconSize) / 2);
    left: calc(50% - var(--iconSize) / 2);
    height: var(--iconSize);
    width: var(--iconSize);
    animation: wiIn 1s var(--swiftOut);
}

@include responsive-down(lg) {
    .weatherIconSection {
        --iconSize: 72px;
    }
}

@include responsive-down(md) {
    .weatherIconSection {
        --iconColumns: 5;
        --sectionGutter: #{gutter-get(8)};
    }
}

@include responsive-down(sm) {
    .weatherIconSection {
        --iconColumns: 4;
        --iconSize: 90px;
        --switcherGutter: #{gutter-get(1)};
        --switcherSize: 30px;
        --switcherSizeImage: 24px;
    }
}

@include responsive-down(xs) {
    .weatherIconSection {
        --iconColumns: 3;
        --iconSize: 72px;
    }
}

@keyframes wiIn {
    from {
        opacity: 0;
        transform: scale3d(.75, .75, .75);
    }
}
