{% extends "@bas-website/boilerplate/skel.twig" %}

{% set nav_item = "about" %}
{% set title = "About" %}

{% block content %}

	<div class="page-header">
		<div class="container">
			<h1>About me</h1>
		</div>
	</div>

	<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-7 mr-lg-auto">

					<h2>Hi! I'm Bas</h2>
					<p>
						A 23-year old developer from Groenlo, The Netherlands. By day I work as a web/app developer at a
						local agency, <a href="https://ideemedia.nl" target="_blank" rel="noopener">IdeeMedia</a>. By night I
						spend most of my time working on open source projects and finding/trying out what's new in tech.
					</p>
					<p>
						My most recent project is latte-ui, an UI library build for Vue.js, you can use it for free in
						your own projects.
					</p>
					<p>
						Below are two photos of me. The girl on the second photo is my girlfriend Fleur.
						<a href="https://fleurnijhuis.com" target="_blank" rel="noopener">Who also has a website</a>.
					</p>

					<h3 class="mt-5">Programming</h3>
					<p>
						I started experimenting with code back in 2008, I tweaked a lot to existing projects
						from other people to see what happened when I changed something. Since then I gained a lot of
						experience and developed my own (code) style. In 2013 I won two gold medals for programming.
					</p>
					<p>
						For programming I primarily use the tools of <a href="https://jetbrains.com" target="_blank" rel="noopener">JetBrains</a>,
						such as PhpStorm and IntelliJ Idea, those applications are a perfect fit for me. All of my projects
						are stored on their own GitHub repository and I host everything on my own CentOS server. I also have
						another beefy CentOS server for private projects and tools.
					</p>

					<h3 class="mt-5">Work</h3>
					<p>
						At IdeeMedia my primary job is to transform Photoshop files in actual working websites or apps.
						For websites I created a base framework arround WordPress and for our apps I created Latte UI,
						which is now open source (see Projects).
					</p>

				</div>
				<div class="col-12 col-lg-4 mt-5 mt-lg-0">

					{{ include("@bas-website/mixin/skills-and-experience.twig") }}

					{{ include("@bas-website/mixin/socials.twig") }}

				</div>
			</div>
		</div>
	</section>

{% endblock %}
